/* 공통 베이스 — 전역 보더, body 기본 스타일 */
* {
  @apply border-border;
}

html {
  overflow-y: scroll; /* 스크롤 가능 */
  scrollbar-width: none; /* Firefox: 스크롤바 숨김 */
  -ms-overflow-style: none; /* IE, Edge: 스크롤바 숨김 */
}

html::-webkit-scrollbar {
  display: none; /* Chrome, Safari: 스크롤바 숨김 */
}

body {
  @apply bg-background text-foreground font-sans;
}
